.dropdown {
    padding: 5px;

    &__select {
        margin: 10px;
        font-size: x-large;
        border: none;
        cursor: pointer;
    }
}

.image {
    height: 50px;
    width: 50px;
    padding: 20px;
}

.sort { 
    padding: 5px;

    &__select {
    margin: 20px;
    font-size: x-large;
    border: none;
    cursor: pointer;
    }
}