@use "./Components/Main/Main.scss";
@use "./Components/BeerCard/BeerCard.scss";
@use "./Components/Search/Search.scss";
@use "./Components/Nav/Nav.scss";

* {
  margin: 0;
  padding: 0;
  color: brown;
  background-color: lightgray;
}

.container {
  margin: 10px;
  

  &__header {
    padding: 30px;
    font-size: xx-large;
  }
}