.dropdown {
    padding: 5px;

    &__select {
        margin: 10px;
        font-size: x-large;
        border: none;
        cursor: pointer;
    }
}

.sort { 
    padding: 5px;

    &__select {
    margin: 20px;
    font-size: x-large;
    border: none;
    cursor: pointer;
    }
}